body {
  font-family: "roboto", sans-serif;
  margin: auto;
  width: 793px;
  background-color: #fff;
}

.container {
  width: 793px;
  height: 507px;
  background-color: #3B3F45;
}

li {
  background-color: #88839E;
  width: 534px;
  height: 31px;
  list-style: none;
  font-size: 18px;
  margin: 0px 130px 0px -38px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding-top: 10px;
  transition: 400ms;
}

h1 {
  font-size: 24px;
  margin-bottom: 4px;
  padding-top: 10px;
}

h3 {
  font-size: 18px;
  padding-top: 10px;
}

h4 {
  font-size: 16px;
  margin-top: 0;
}

header {
  background-color: #4A4F56;
  color: #FF8984;
  text-align: center;
  width: 793px;
  height: 82px;
  margin-bottom: 20px;
}

form {
  width: 534px;
  color: #fff;
  margin: auto;
  text-indent: 10px;
}

li:nth-child(even) {
  background-color: #7A7593;
}

input:checked+label {
  text-decoration: line-through;
  color: gray;
}

li:hover {
  background-color: #625E77;
  border-left: none;
  border-right: none;
  border-color: #fff;
}

li:active {
  background-color: #FF8984;
}

span {
  font-size: 12px;
}

span::before {
  content: "(";
}

span::after {
  content: ")";
}

::before, ::after {
  color: #fff;
}

:checked +label ::before, :checked +label ::after {
  color: gray;
}

footer {
  background-color: #4A4F56;
  width: 534px;
  height: 45px;
  margin: 45px 130px 45px 130px;
  color: #FF8984;
  text-align: center;
}