body {
  font-family: "roboto", sans-serif;
  margin: auto;
  width: 793px;
  background-color: #3B3F45;
}

li {
  background-color: #88839E;
  width: 534px;
  height: 25px;
  list-style: none;
  font-size: 18px;
  margin: 0px 130px  0px -38px;
  padding-top: 10px;
  padding-bottom: -10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 4px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  margin-top: 0;
}

header {
  background-color: #4A4F56;
  color: #FF8984;
  text-align: center;
  width: 793px;
  height: 82px;
  margin-bottom: 20px;

}

form {
  width: 534px;
  color: #fff;
  margin: auto;
}

li:nth-child(even) {
  background-color: #7A7593;
}

input:checked + label {
  text-decoration: line-through;
  color: gray;
}

li:hover {
  background-color: #625E77;
  border: 2px solid #fff;
  border-left: none;
  border-right: none;
}

li:active {
  background-color: #FF8984;
}

footer {
  background-color: #4A4F56;
  width: 534px;
  height: 45px;
  margin: 45px 130px 45px 130px;
  color: #FF8984;
  text-align: center;
}